/* This will change the top margin */
.logo {
  margin: 5px;
}

/* This will affect padding, width, and margin of the main container*/
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}

/* This will centered the title on the app-component.html*/
.title {
  text-align: center;
  padding-top: 30px;
  font-size: 5em;
}
